gunicorn
flask
flask-sqlalchemy
flask-login
pyTelegramBotAPI
psycopg2-binary
requests
werkzeug
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
sqlalchemy
email_validator
flask
flask-login
flask-sqlalchemy
gunicorn
psycopg2-binary
pyTelegramBotAPI
requests
sqlalchemy
werkzeug
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
bcrypt
email-validator
flask
flask-login
flask-sqlalchemy
gunicorn
psycopg2-binary
pytelegrambotapi
python-dotenv
requests
sqlalchemy
werkzeug
